@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Home Controller  Index Action </p>


    <partial name="_Categories" />

    <kerim get-data="Bil. Müh. Kerim"></kerim>


    <a asp-action="Index" asp-controller="Home" asp-route-id="1">Link</a>




</body>
</html>
