@model UrgencyUpdateViewModel
@{
    ViewData["Title"] = "UpdateUrgency";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>UpdateUrgency</h1>

<form asp-action="UpdateUrgency" class="w-75 mx-auto p-3" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Definition"></label>
        <span asp-validation-for="Definition" class="text-danger"></span>
        <input type="text" asp-for="Definition" class="form-control" />
    </div>
    <button type="submit" class="btn btn-info btn-sm">Update</button>
</form>

@section JavaScriptCode{
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}