@model AppUserAddViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<h1>Register</h1>

<form class="mt-3 mx-auto p-3 shadow">
    <div class="form-group">
        <label asp-for="Name"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Name" />
    </div>

    <div class="form-group">
        <label asp-for="Surname"></label>
        <span asp-validation-for="Surname" class="text-danger"></span>
        <input asp-for="Surname" />
    </div>


    <div class="form-group">
        <label asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Email" />
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
        <input asp-for="Password" />
    </div>
</form>